*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

.nav{
    height: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
}

.nav:first-child{
    padding-left: 2%;
}

.nav .profile{
    padding-right: 2%;
}

.nav a{
    
    text-decoration: none;
    color: black;
}

.tile-space{
    height: 44.5vw;
    width: 100%;
    background-color:#ffff;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */

}

.box{
    cursor: pointer;
    height: 7vw;
    width: 7vw;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    margin-top: 10%;
    border:1px solid black;

}

